{% extends "layout.html" %}

{% block content %}
<h1>Coordonées</h1>
<h2>Email : {{ coordonnees[0] }}</h2>
<h2>Téléphone : {{ coordonnees[1] }}</h2>

{% if valide == False %}
<h1>Formulaire de contact</h1>
<form action="/contactForm" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="demande">Demande</label>
    <input type="text" name="demande" id="demande">
    <input type="submit" value="Envoyer">
</form>
{% else %}
<h1>Formulaire envoyé</h1>
{% endif %}
{% endblock %}